*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: rgb(185, 16, 87);
    background-image: url(./office-woman.jpg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
     
}
nav{
    display: flex;
    margin-left: 58rem;
    padding: 16px 0; 
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 8px 16px;
    font-size: xx-large;
} 
nav ul li a{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(252, 247, 247);
    font-size: 2rem;
   
}
h1{
    color: red;
    margin-left: 1rem;
    width: 30rem;
    padding: 1.0rem;
    font-size: 2.3rem;
    border-radius: 1rem;
    background-color: aliceblue;
}
button{
    color: white;
    margin-top: 2rem;
    text-align: center;
    background-color: blue;
    width: 15rem;
    margin-left: 24rem;
    margin-top: 3rem;
    font-size: 3rem;
}
h3{
    color: white;
    margin-top: 2px;
    font-size: 2rem;
    padding: 24px;
    text-align: center;
    
}
img.body-pic{
    margin-left: rem;
    width: 16rem;
    border-radius: 6rem;
    float: left;
    margin-bottom: 9rem;
}

p{
    color: wheat;
    margin-top: 2rem;
    font-size: 2rem;
    margin-left: 4rem;
    margin-right: 2rem;
    /* width: 100rem;
    margin-top: 4rem;
    height:1rem;
    margin-left: 6px;
    font-weight: bold;
    text-align:center;
    font-size: 23px; */
     
}

.parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    margin-left: 18rem;
    
}
.headertexts{
    color: rgb(255, 255, 255);
    margin-left: 4rem;
}
.flex-text{
 color: rgb(207, 171, 9);
 margin-top: 0rem;
 text-align: center;
 margin-left: 2rem;
 padding: 2 8%;
 }


 footer{
     background-color: rgb(34, 2, 24);
     margin-top: 4rem;
     height: 20rem;
 }
.footer-header{
    text-align: center;
    color: rgb(226, 104, 3);
    text-transform: uppercase ;
    margin-top: 4rem;
    padding-top: 3rem;
    font-weight: bolder;
    font-size: 5rem;

    
}
 .footer-text{
     color: rgb(172, 148, 148);
     font-size: 3rem;
     font-weight: bolder;
     margin-top: 7rem;
     text-align: center;
 }
 .gall{
     color: rgb(245, 120, 3);
     font-weight: bolder;
 }